/** Jake McMillan 2108868 **/

/** General **/

*{
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

nav{
    color: #f2f2f2;
    background-color: #0a0a0a;
    border-style: solid;
    height:50px;
}

.navBarElements{
    color: #f2f2f2;

    text-align: center;
    font-size: 35px;
    list-style: none;

    border-left: solid;
    height: 50px;
    width:19.68%;

    float: left;
}

body{
    background-color: salmon;
    margin: 0px;
    padding: 0px;
    min-height: 750px;
    min-width: 1380px
}

.title{
    text-align: center;
}

footer{
    position:fixed;

    color:#f2f2f2;
    background-color: #0a0a0a;

    text-align: center;

    border-style: solid;
    margin-top: 5px;
    
    bottom:0;
    height:50px;
    width:99.7%;
}

/** Events Page **/

#leftContainer{
    color: #black;
    background-color: #grey;

    border-style: solid;
    height: 500px;
    width: 49.5%;
    
    float:left;
}

table{
    float:left;
}

.tableText{
    color: #f2f2f2;
    font-size: 22px;
}

.leftContainerText{
    color: #f2f2f2;

    text-align: center;
    font-size: 14px;
    list-style: none;

    border-style: solid;
    height:34.9px;
    width:50%;

    margin:1px;
    
    float:right;
}

#month{
    color: #f2f2f2;
    background-color: #0a0a0a;

    text-align: center;

    border-style: solid;
    height: 500px;
    width: 49.5%;

    margin-right: 0px;

    float: right;
}

#eventsInJanuary{
    position: absolute;
    margin-top: 10px;
    width:49.5%;
    display:none;
}

#eventsInFebruary{
    position: absolute;
    margin-top: 10px;
    width:49.5%;
    display:none;
}

#eventsInMarch{
    position: absolute;
    margin-top: 10px;
    width:49.5%;
    display:none;
}

#eventsInApril{
    position: absolute;
    margin-top: 10px;
    width:49.5%;
    display:none;;
}

#anyOtherMonth{
    position: absolute;
    margin-top: 10px;
    width:49.5%;
    display:none;
}

/** Design Page **/

.blackBar{
    color: #f2f2f2;
    background-color: #0a0a0a;

    text-align: left;

    border-style: solid;
    height:170px;
    width:auto;

    margin-bottom:5px;
    margin-left: 0px;
    margin-right: 0px;
}

#barContent1{
    color: #f2f2f2;

    border-style: solid;
    height:170px;
    width:250px;

    top:initial;
    border-bottom: 0;
    border-top: 0;

    margin-left: 200px;
}

#barContent2{
    color: #f2f2f2;

    border-style: solid;
    height:170px;
    width:250px;

    top:inherit;
    border-bottom: 0;
    border-top: 0;

    margin-left: 250px;
}

#barContent3{
    color: #f2f2f2;

    border-style: solid;
    height:170px;
    width:250px;

    top:inherit;
    border-bottom: 0;
    border-top: 0;

    margin-left: 300px;
}

#contentFormatting1{
    color: #f2f2f2;
    width:55%;
    float:right
}

#contentFormatting2{
    color: #f2f2f2;
    width:50%;
    float:right
}

#contentFormatting3{
    color: #f2f2f2;
    width:45%;
    float:right
}

.titleText{
    text-align: center;
    border-style: solid;
    border-top: 0px;
    width:250px;
}

#webDesignBasics{
    display: none;
}

#applicationsOfWebDesign{
    display: none;
}

#joiningTheSociety{
    display: none;
}
